@font-face{
    font-family:"Cursed";
    src: url("cursedtimer.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE ;
    height: 100vh;
}

.container {
    display: flex;
    justify-content:space-around;
}

h3 {
    width: 149px;
    height: 36px;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

.score{
    border: 2px solid black;
    background-color: black;
    display: grid;
    place-items: center;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
}

span{
    font-size: 90px;
    font-weight: 400;
    color: #F94F6D;
    font-family: Cursed;
}

.points{
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-around;
}

button{
    background-color: inherit;
    font-family: cursed;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    color: #9AABD8;
    border-color: #9AABD8;
    text-decoration: none;
    
}